body {
    overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.form-item input, .form-item textarea, .form-item select {
    display: block;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 0.25rem;
}

.form-item input:focus, .form-item textarea:focus, .form-item select:focus {
    color: #212529;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.popup {
    display: none;
}
.popup-show{
    display: block;
}

.navbar-nav {
    text-align: right;
}

[class^="icon-"] {
    width: 2rem;
    height: auto;
    fill: #222;
}

.article {
    position: relative;
    width: 380px;
    height: 420px;
    margin: 0 20px 60px 0;
    transition: 0.3s;
}

.article:hover {
    transform: scaleY(1.02) scaleX(1.02);
}

.article-img-container {
    width: 380px;
    height: 210px;
    overflow: hidden;
    border-radius: 10px;
}
  
.article-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-date-container {
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.article-date {
    font-size: small;
    color: grey;
}

.article-body {
    padding: 0 10px 0 10px;
}

.article-title {
    text-decoration: none;
    color: black;
}

.article-title:hover {
    text-decoration: underline;
    color: black;
}

.article-admin-container {
    position: absolute;
    bottom: 0;
}

.articleView {
    display: flex;
    margin-bottom: 20px;
}

.articleView-img-container {
    width: 800px;
    height: 500px;
    margin-right: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.articleView-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleView-body {
    display: block;
    width: 500px;
}

.articleView-body-description {
    display: block;
    width:500px;
    height:400px;
    line-height:2em;
    overflow:scroll;
}

.imgGallery-container {
    display: flex;
}

.imgGallery-imgBox {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 0 20px 20px 0;
    transition: 0.3s;
}

.imgGallery-imgBox:hover + .imgGallery-photoDelete,  .imgGallery-photoDelete:hover {
    display: inherit;
} 

.imgGallery-imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.imgGallery-delete {
    position: absolute;
    bottom: 0;
    padding: 0 0 5px 5px;
}

