{% extends "base.html" %}

{% block page_title %}
    Stwórz dzień 
{% endblock %}

{% block content %}
    <h1>Stwórz dzień pojedynków dla {{ tournament.tournament_name }} turnieju</h1>
    <form action="{% url 'tournaments:tournament_day_create' pk=tournament.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-item mt-3 mb-3 d-none">
            {{ form.tournament }}
            <input type="hidden" name="{{ form.tournament.name }}" value="{{ form.tournament.value }}">
        </div>
        <div class="form-item mt-3 mb-3">
            {{ form.day_date.label_tag }}
            {{ form.day_date }}
            {{ form.day_date.errors }}
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Stwórz</button>
    </form>
{% endblock %}
