{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Usuń pojedynek" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Usuń pojedynek" %}</h1>
    <form method="post">
        {% csrf_token %}
        <p>{% trans "Jesteś pewny(-a) by usunąć" %} {{ tournamentbattle.battle_first_oponent.class_number }}{{ tournamentbattle.battle_first_oponent.class_letter }} VS {{ tournamentbattle.battle_second_oponent.class_number }}{{ tournamentbattle.battle_second_oponent.class_letter }} {% trans "pojedynek ?" %}</p>
        <button class="btn btn-primary" type="submit">{% trans "Usuń" %}</button>
    </form>
{% endblock %}
