{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Turnieje
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <h2 style="margin-bottom: 20px;">Stwórz turniej 
                    <a href="{% url 'tournaments:tournament_create' %}" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></a>
                </h2>

                <hr>
            {% endif %}

            {% for tournament in tournaments %}
                <div class="card mb-3" style="width: 18rem; margin-right: 15px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ tournament.tournament_name | title }}</h5>
                        <p class="card-text">Uczestniczące klasy:
                            {% for class in tournament.tournament_classes.all %}
                                {{ class.class_number }}{{ class.class_letter}}
                                {% if tournament.tournament_classes.all|length != forloop.counter %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Początek: {{ tournament.tournament_start_date }}</li>
                        <li class="list-group-item">Koniec: {{ tournament.tournament_end_date }}</li>
                        {% if tournament.tournament_is_active %}
                            <li class="list-group-item">Aktywny: <i class="bi bi-check-circle-fill"></i></li>
                        {% else %}
                            <li class="list-group-item">Aktywny: <i class="bi bi-x-circle-fill"></i></li>
                        {% endif %}
                    </ul>
                    
                    <div class="card-body">
                        <a href="{% url 'tournaments:tournament_detail' pk=tournament.id %}" class="btn btn-success"><i class="bi bi-eye-fill"></i></a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'tournaments:tournament_edit' pk=tournament.id %}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                            <a href="{% url 'tournaments:tournament_delete' pk=tournament.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
