{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Zredaguj dzień pojedynków" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Zredaguj" %} {{ tournamentday.day_date }} {% trans "dzień pojedynków" %}</h1>
    <form action="{% url 'tournaments:tournament_day_edit' pk=tournamentday.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-item mt-3 mb-3 d-none">
            {{ form.tournament }}
            <input type="hidden" name="{{ form.tournament.name }}" value="{{ form.tournament.value }}">
        </div>
        <div class="form-item mt-3 mb-3">
            {{ form.day_date.label_tag }}
            {{ form.day_date }}
            {{ form.day_date.errors }}
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Zapisz" %}</button>
    </form>
{% endblock %}
