{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block page_title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="articleView">



            <div class="articleView-slider">
                <div class="articleView-slider">
                    <div class="articleView-slides">
                        <div class="articleView-slide">
                            <img src="{{ article.cover_photo.url }}" class="slider-img" alt="Zdjęcie główne">
                        </div>
                        {% for photo in article.photo_set.all %}
                            <div class="articleView-slide">
                                <img src="{{ photo.photo.url }}" class="slider-img" alt="Zdjęcie główne">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>



            <div class="articleView-body">
                <h2>{{ article.title }}</h2><br>
                <div class="articleView-body-description" >{{ article.description }}</div>
            </div>
        </div>
        
        {% if user.is_authenticated %}
        <a href="{% url 'points:photo_create' pk=article.id %}" class="btn btn-primary" style="max-width: 170px; margin-bottom: 20px; margin-left: 10px;">{% trans "Dodaj zdjęcie" %} <i class="fa fa-plus" aria-hidden="true"></i></a>
        <div class="imgGallery-container">
            {% for photo in article.photo_set.all %}
                    <div class="imgGallery-imgBox">
                        <img src="{{ photo.photo.url }}" alt="Zdjęcie poboczne">
                        <div class="imgGallery-delete">
                            <form action="{% url 'points:photo_delete' pk=photo.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}