{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!--Login-->
<div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form }}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Zaloguj się" %}</button>
    </form>
</div>
{% endblock %}
